.App{
  text-align: center;
}

.input-item {
  width: 230px;
  height: 40px;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}

.shopping-list {
  width: 400px;
  height: 250px;
  margin: 20px auto;
  background-color: lightgray;
  overflow-y: auto;
}

.suggestion-item {
  text-align: left;
  margin: 10px;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color:aquamarine
}

.bucketList {
  width: 300px;
  margin: 50px auto;
}

.shoppingList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgreen;
  height: 30px auto;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

button{
  background-color: lightgreen;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

button:hover{
  background-color: white;
  border-radius: 50%;
}

.strik{
  text-decoration: line-through;
  color: gray;
}