.App{
  text-align: center;
}

.input-item {
  width: 230px;
  height: 40px;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}

.shopping-list {
  width: 400px;
  height: 250px;
  margin: 20px auto;
  background-color: lightgray;
  overflow-y: auto;
}

.suggestion-item {
  text-align: left;
  margin: 10px;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color:aquamarine
}